body{
    background-image: url(./bilder/nenad-radojcic-RF5U8BkaQHU-unsplash.jpg);
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 140px;
    color: lightskyblue;
    margin-left: 100px;
    text-transform: uppercase;
}
h2{
    font-size: 70px;
    color: lightskyblue;
    margin-left: 120px;
  
}
p{
    font-size: 40px;
    color: white;
    margin-top: 250px;
    margin-left: 1400px;
    text-transform: uppercase;
}
a{
   color: white; 
   text-decoration: none;
   border: 3px solid white;
   background-color: lightskyblue;
   border-radius: 25px;
   padding: 20px 80px;
   width: 14%;
}
